// Colors
$primaryColor: #A40FFF;
$primaryGreenColor: #00FF75;

$gray_color_1 : #282828;
$gray_color_2 : #2d2d2d;
$gray_color_4 : #1d1d1d;

$box_shadow_color: rgb(0 0 0 / 5%);
$white_1: rgba(255, 255, 255, .1);
$white_1_hex: #424242;

$white_2: rgba(255, 255, 255, .2);
$black_1: rgba(0, 0, 0, .1);
$black_2: rgba(0, 0, 0, .2);
$white:#f8f8f8;
$muteTextColor: #CBC7C7;

$red: #ff0909;
$android_green: #3ad07f;
$cancelled: #fffc00;

// Units
$default_padding: 0.75rem;
$default_border_raduis: 0.9rem;
$default_font_size: .9rem;

$svg_width: 1rem;
$svg_height: 1rem;

$progress_bar_height: .4em;

$app_logo_size: 3.5rem;

